@model JsonToForm.Models.JsonFileViewModel

@{
    ViewData["Title"] = "Загрузка файла";
}

<h1>Загрузка файла JSON</h1>

<hr />

<form asp-action="GetJson" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <p><input asp-for="FileJson" /></p>
    <p><input type="submit" value="Upload" /></p>    
    <span asp-validation-for="FileJson" class="text-danger"></span>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
